#prodImg{
    height: 10rem;
}


@media (max-width: 600px) {
    #prodImg {
        height: 3rem;
    }
}

#checkoutShoppingCartButton{
    color: white;
    background-color: #151422;
}

#cartPanda{
    width: 20rem;
}

#back{
    background-color: #151422;
    color: white;
}