.card{
    margin: 10px;
}
/* Make arrows black */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}



.sliderr{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-trackk{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-trackk:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}


.slidee {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slideImgg{
    width: 100%;
}

.slideImgg:hover{
    transform: translateZ(10px);
    transition: transform 1s;
}


.sliderr::before,
.sliderr::after{
    
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

